@use "../custom" as *;

.eventos {
  .card {
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(1.12);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      z-index: 10;
    }
    .fecha {
      color: #ba945d;
    }
  }
}
